@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

/* Apply thin scrollbar to the entire body */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1f2333;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3b405e;
  border-radius: 10px;
  border: 2px solid #1f2333;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4a5070;
}


.MuiChartsLabel-root.MuiChartsLegend-label {
  color: white;
}

/* Webkit scrollbar styles for the alert list */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  /* Adjust as needed */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2333;
  /* scrollbar-track-[#1f2333] */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3b405e;
  /* scrollbar-thumb-[#3b405e] */
  border-radius: 10px;
  border: 2px solid #1f2333;
  /* Adjust border color to match track for a cleaner look */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #4a5070;
  /* hover:scrollbar-thumb-[#4a5070] */
}

.time-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}